@import url(https://fonts.googleapis.com/css?family=Audiowide);
html {
   box-sizing: border-box;
   font-family: Arial, sans-serif;
   font-weight: normal;
}

body {
  text-align: center;
  background: #181818;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  color: white;
}

td {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

th {
  color: white;
}

a {
  color: #66c0f4;
}
a:hover {
color: #89d4ff;
text-decoration: none;
}

/* TAB */

.body {
  font-family: 'Lato Light', sans-serif;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #3a3a3a;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #585858;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #585858;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-top: none;
}


  /* Live Actions */

  * {
    box-sizing: border-box;
  }
  
#input {
  background: #3a3a3a;
}

  #searchactions {
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background-color: #3a3a3a;
    color: white;
  }
  
  #tableactions {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  #tablesales {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #tablesales th, #tablesales td {
    text-align: left;
    padding: 12px;
  }
  
  #tablesales tr {
    border-bottom: 1px solid #ddd;
    background-color: #202020;
  }
  
  #tablesales tr.header, #tablesales tr:hover {
    background-color: #3a3a3a;
  }

  #tableactions {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #tableactions th, #tableactions td {
    text-align: left;
    padding: 12px;
  }
  
  #tableactions tr {
    border-bottom: 1px solid #ddd;
    background-color: #202020;
  }
  
  #tableactions tr.header, #tableactions tr:hover {
    background-color: #3a3a3a;
  }
